*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #6495ed;
}

main div.box{
    background-color: white;
    text-align: center;
    width: 500px;
    height: 500px;
    margin: 200px auto;
    border-radius: 50px;
    display: flex;
}